# Lab | Revisiting Machine Learning Case Study

- In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

## Instructions
Complete the following steps on the categorical columns in the dataset:

- Check for null values in all the columns

- Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

    - OSOURCE - symbol definitions not provided, too many categories
    - ZIP CODE - we are including state already

- Identify columns that over 85% missing values

- Remove those columns from the dataframe

- Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [40]:
import pandas as pd

In [41]:
df  = pd.read_csv('/Users/dooinnkim/ironhack_da_may_2023/machine-learning/lab-revisiting-machine-learning/learningSet.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
df.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

### Check for null values in all the columns

In [43]:
df.isnull().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

### Excluding columns: OSOURCE, ZIP

In [44]:
drop_list = ['OSOURCE', 'ZIP']
df = df.drop(columns=drop_list)

### Identify columns that over 85% missing values

In [45]:
missing_percentage = df.isnull().sum() / len(df)
missing_percentage_sorted = missing_percentage.sort_values(ascending=False)
missing_percentage_filtered = missing_percentage_sorted[missing_percentage_sorted > 0.85]


print("Columns with more than 85% missing values:")
print(missing_percentage_filtered)

Columns with more than 85% missing values:
RDATE_5     0.999906
RAMNT_5     0.999906
RDATE_3     0.997464
RAMNT_3     0.997464
RDATE_4     0.997055
RAMNT_4     0.997055
RAMNT_6     0.991867
RDATE_6     0.991867
RAMNT_15    0.923888
RDATE_15    0.923888
RDATE_23    0.917631
RAMNT_23    0.917631
RDATE_20    0.917327
RAMNT_20    0.917327
RAMNT_7     0.906773
RDATE_7     0.906773
RAMNT_17    0.901469
RDATE_17    0.901469
RDATE_21    0.900296
RAMNT_21    0.900296
RAMNT_10    0.890360
RDATE_10    0.890360
RAMNT_13    0.871609
RDATE_13    0.871609
NUMCHLD     0.870184
dtype: float64

### Remove those columns from the dataframe

In [46]:
columns_to_drop = missing_percentage[missing_percentage > 0.85].index
df.drop(columns=columns_to_drop, inplace=True)

### Modify values in Gender Column

In [47]:
print(df['GENDER'].value_counts())
df['GENDER'] = df['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [48]:
Other = [' ', 'C', 'U', 'J', 'A']

df['GENDER'] = df['GENDER'].replace(Other, 'Other')

In [49]:
print(df['GENDER'].value_counts())

F        51277
M        39094
Other     5041
Name: GENDER, dtype: int64